.container {
  position: fixed;
  right: 20px;
  top: 100px;
  z-index: 1500;
  border: none;
  background-color: rgb(237, 237, 237);
  padding: 5px;
  cursor: pointer;
  option {
    cursor: pointer;
  }
}

@media screen and (min-width: 270px) and (max-width: 1024px) {
  .container {
    width: 100%;
    left: 0;
    top: 95px;
    padding: 3%;
    text-align: center;
    background-color: #198ffd;
    color: rgb(252, 252, 252);
    option {
      background-color: rgb(232, 232, 232);
      color: black;
    }
  }
}
