.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-top: 100px;
  padding-block: 5%;
  .containerData {
    width: 80vw;
    padding: 5%;
    margin: 0 auto;
    margin-top: 5%;
    columns: 2;
    column-gap: 10px;
    border-radius: 0.2rem;
    background-color: rgb(237, 237, 237);
  }
}

@media screen and (min-width: 270px) and (max-width: 767px) {
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
    .containerData {
      width: 100%;
      margin-top: 0px;
      columns: 2;
      column-gap: 0px;
      box-shadow: inset 0px 0px 100px black;
      border-radius: 0.5rem;
    }
    .infinite-scroll-component__outerdiv {
      width: 100%;
    }
  }
}
