
  .size1,.size2,.size3, .size4,.size5 {
    // width: 100%;
    margin: 0;
    padding: 0;
    // align-self: start;
    margin:  0 auto;
    grid-column: span 1;
    transition: all 0.2s;
    cursor: pointer;
    border-radius: 0.2rem;
    position: relative;

  }


  .size4 {
    grid-column: span 2;
    width: calc(60vw - 4px);

  }
  
  .size3 {
    width: calc(30vw - 4px);
  }
  
  .size2 {
    // width: 40vw;
    width: calc(27vw - 4px);
    // align-self: start;

  }
  
  .size1 {
    width: calc(23vw - 4px);
    // align-self: center;
  }


  .size1:hover,.size2:hover,.size3:hover{
    transform: scale(1.1);

  }
  


@media screen and (min-width: 768px) and (max-width: 1770px) {

}

@media screen and (min-width: 270px) and (max-width: 1190px) {




  
  .size4 {
    grid-column: span 2;

    width: 100vw;
    width: calc(100vw - 4px);

  }
  
  .size3 {
    grid-column: span 1;

    width: calc(50vw - 4px);

  }
  
  .size2 {
    // width: 40vw;
    grid-column: span 1;
    width: calc(43vw - 4px);
    align-self: center;

  }
  
  .size1 {
    grid-column: span 1;

    width: 20vw;
    width: calc(38vw - 4px);
    align-self: center;
  }

}