
  
   .size1,.size2,.size3, .size4,.size5 {
    position: relative;
    display: flex;
    // width: 100%;
    margin: 0;
    padding: 0;
    transition: all 0.2s;
    cursor: pointer;
    margin: 10px;
    h3 {
      font-size: 3rem;
    }
    width: 100%;
  }

  .size1,.size2,.size3 {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 500;
    img {
      border: solid 10px rgb(206, 206, 206);
    }
  }
  .size2,.size3,.size4 {
    height: 100%;
    
  }
  .size4 {
    column-span: all;
    width: 100%;
    margin-block:5px;
  }
  
  .size3 {
    img {
    width: 100%;
      
      width: calc(28vw - 4px);
    // align-self: start;
    }
  }
  
  .size2 {
    // width: 40vw;
    width: 100%;
    img {

      width: calc(25vw - 4px);
    // align-self: start;
    }

  }
  
  .size1 {
    width: 100%;

    img {
      width: calc(20vw - 4px);
      margin: 0 auto;
    }
    // align-self: center;
  }





  .size1:hover,.size2:hover,.size3:hover{
    transform: scale(1.1);
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0);

  }
  


@media screen and (min-width: 768px) and (max-width: 1770px) {}

@media screen and (min-width: 270px) and (max-width: 1190px) {
  .size1,.size2,.size3, .size4,.size5 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
    transition: all 0.2s;
    cursor: pointer;
    border-radius: 0.2rem;
    margin: 0px;
    margin-block: 5px;
    // background-color: black;
    img {
      border: none;
    }
  }
  .size1:active,.size2:active,.size3:active, .size4:active,.size5:active {
    background-color: red;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
  }
  .size4 {
    column-span: all;
    width: 100%;
    margin-block:5px;
    img {
      width: 100%;
    }
  }
  
  .size3 {
    width: 100%;
    img {
      width: calc(45vw - 4px);
    }
  }
  
  .size2 {
    width: 100%;
    img {
      width: calc(40vw - 4px);

    }

  }
  
  .size1 {
    width: calc(30vw - 4px);
    width: 100%;

    img {
      width: calc(30vw - 4px);
    }
    // align-self: center;
  }
  
 
  .size1:hover,.size2:hover,.size3:hover{
    transform: scale(1);
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0);

  }
}