
.container {
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 100vh;
    gap: 10px;
    padding-block: 5%;
    .link {
        padding: 2%;
        max-height: 10px;
        background-color: #0B60B0;
        text-align: center;
        color: white;
        font-size: 1.5rem;
        border-radius: 0.5rem;
        line-height: 10px;
    }
}



@media screen and (min-width: 270px) and (max-width: 1024px) {

    .container {
  
        .link {
            padding: 5%;
            max-height: 100px;
            background-color: #0B60B0;
            font-size: 1rem;
            border-radius: 0.2rem;
        }
    }

}