.container{
    display: flex;
    justify-content: center;
    height: 80vh;
    padding: 20%;
    .containerForm {
        width: 50%;
        button {
            color: white;
            border-radius: 100px;
        }
    }
}

@media screen and (min-width: 270px) and (max-width: 767px) {
    .container{
        padding: 5%;
        padding-top:20% ;
        .containerForm {
            width: 100%;
        }
    }
}