.container{
    display: flex;
    justify-content: center;
    height: 80vh;
    .containerForm {
        width: 50%;
    }
}

@media screen and (min-width: 270px) and (max-width: 767px) {
    .container{
 
        .containerForm {
            width: 90%;
        }
    }
}