.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .containerImages {
    width: 50%;
  }
}


@media screen and (min-width: 270px) and (max-width: 767px) {
  .containerImages {
    width: 100%;
  }
}