.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 5%;

  .formLogin {
    padding: 5%;
    border-radius: 0.5rem;
    box-shadow: inset 0px 0px 100px black;
    background-color: rgb(206, 206, 206);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h4 {
      font-size: 2rem;
      text-align: center;
      color: white;
      margin-bottom: 5px;
      font-weight: 600;
    }
    img {
      width: 100%;
      border-radius: 0.5rem;
    }
    select,
    option,
    button {
      border: none;
      margin-block: 5px;
      padding: 1rem;
      border-radius: 0.5rem;
      cursor: pointer;
      width: 100%;
      text-align: center;
    }
    select {
      width: 100%;
    }
    button {
      width: 100%;
      background-color: #4ccd99;
      color: white;
      font-size: 1.2rem;
    }
    .err {
      color: red;
      font-weight: 400;
    }
  }
}
