.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 5%;

  .formLogin {
    padding: 5%;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h4 {
      font-size: 2rem;
      text-align: center;
      color: white;
      margin-bottom: 5px;
      font-weight: 600;
    }
    img {
      width: 100%;
      border-radius: 0.2rem;
    }
    select,
    option,
    input,
    button {
      border: 1px solid rgba(205, 205, 205, 0.683);
      margin-block: 5px;
      padding: 1rem;
      border-radius: 0.5rem;
      cursor: pointer;
      width: 100%;
      text-align: center;
      color: rgb(112, 112, 112);
    }
  
    select,input {
      width: 100%;
    }
    button {
      width: 100%;
      background-color: #4ccd99;
      color: white;
      font-size: 1.2rem;
    }
    .err {
      color: red;
      font-weight: 400;
    }
  }

  .divsContainers {
    width: 100%;
  }
}


@media screen and (min-width: 270px) and (max-width: 767px) {
  .container {
    .formLogin {
      width: 100%;
    }
  }
}