.container{
  width: 100%;

  columns: 3;
  padding: 10%;
  img{
    border-radius: 0.5rem;
  }
}


@media screen and (min-width: 270px) and (max-width: 767px) {
  .container{
    width: 100%;
    columns: 1;
    padding: 0%;
    img{
      border-radius: 0.2rem;
    }
  }
}